<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h1>Change Password</h1>
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>


        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>

      <br>


    </div>
    <div class="col-lg-3">
      <a ng-show="profile.github_profile.name === undefined" class="btn btn-github" ng-href="{{ github() }}" target="_self">
        <i class="fa fa-github"></i> Connect with Github
      </a>
      <div style="margin-top: 30px" ng-show="profile.github_profile.name === undefined" class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-github"></i> GitHub Details</div>
        <div class="panel-body">
          <p>You are not connected to GitHub</p>
        </div>
      </div>
      <div style="margin-top: 30px" ng-show="profile.github_profile.name !== undefined"  class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-github"></i> GitHub Details</div>
        <div class="panel-body">
          <p>Profile: <a ng-href="{{profile.github_profile.html_url}}" target="_blank">{{profile.github_profile.name}}</a></p>
          Public Repos: {{profile.github_profile.public_repos}}
        </div>
      </div>
      <div ng-show="profile.github_profile.name !== undefined">
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Show user Repositories</button>
        <hr>
        <div collapse="isCollapsed">
          <div ng-repeat="repo in profile.github_repos" class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-8">
                  <strong><a ng-href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></strong>

                </div>
                <div class="col-lg-4">
                  <button ng-show="!(github_follows.indexOf(repo.id) > -1)" type="button" class="btn btn-info btn-sm" ng-click="github_addFollower(repo.id)">Follow</button>
                  <button ng-show="github_follows.indexOf(repo.id) > -1" type="button" class="btn btn-info btn-sm" ng-click="github_removeFollower(repo.id)">Unfollow</button>

                </div>
              </div>
              <div class="row text-center">
                <div class="col-lg-4">
                  <i class="fa fa-star" tooltip="Stars"></i>
                  <strong>{{repo.stargazers_count}}</strong>
                </div>
                <div class="col-lg-4">
                  <i class="fa fa-eye" tooltip="Watchers"></i>
                  <strong>{{repo.watchers_count}}</strong>
                </div>
                <div class="col-lg-4">
                  <i class="fa fa-code-fork" tooltip="Forks"></i>
                  <strong>{{repo.forks_count}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
