<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <a ng-if="profile.picture" href="profile/{{profile._id}}"><img ng-src="assets/images/{{profile.picture}}" height="250" width="250" alt="Profile picture" class="img-rounded"></a>
      <h4>{{profile.name}}</h4>
      <div ng-show="getCurrentUser()._id  == profile._id">
        <p>Change profile picture</p>
        <input type="file" ng-file-select="onFileSelect($files)" accept="image/*">
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-2">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </div>
        <div class="col-lg-10">
          {{profile.email}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        </div>
        <div class="col-lg-10">
          Joined on {{created(profile.created)}}
        </div>
      </div>
      <hr>
      <div class="row text-center">
        <div class="col-lg-4">
          <strong>{{followers}}</strong>
        </div>
        <div class="col-lg-4">
          <strong>{{profile.follows.length}}</strong>
        </div>
        <div class="col-lg-4">
          <strong>{{postCount}}</strong>
        </div>
      </div>
      <div class="row text-center small">
        <div class="col-lg-4">
          Followers
        </div>
        <div class="col-lg-4">
          Following
        </div>
        <div class="col-lg-4">
          Posts
        </div>
      </div>
      <hr>
      <div ng-show="getCurrentUser()._id  != profile._id">

        <button ng-show="!following" type="button" class="btn btn-success " ng-click="addFollower(profile._id)">Follow</button>
        <button ng-show="following" type="button" class="btn btn-success " ng-click="removeFollower(profile._id)">UnFollow</button>

        <button ng-click="open()" type="button" class="btn btn-primary">Send Message</button>

        <hr>

      </div>

    </div>
    <div class="col-lg-6">
      <form ng-show="getCurrentUser()._id  == profile._id" class="thing-form">
        <label>Post</label>

        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" ng-click="addThing()">Post</button>
                        </span>
        </p>
      </form>
      <form class="form-horizontal center-block">
        <p class="input-group">
          <span>
              <textarea data-provide="markdown" cols="30" ng-model="body" rows="1" placeholder="Write a comment..."
                        class="form-control"></textarea>
          </span>

          <span class="input-group-btn">
              <input type="submit" class="btn btn-default pull-right" value="Comment" ng-click="addComment(parent._id,body)"/>
          </span>
        </p>
      </form>

      <ul class="nav  nav-stacked" ng-repeat="thing in profileThings">
        <li><div class="well">
          <div class="row">
            <div class="col-lg-1">
              <a href="profile/{{thing.user._id}}"><img ng-src="assets/images/{{thing.user.picture}}" height="40" width="40" alt="Profile picture" class="img-rounded"></a>
            </div>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-12">
                  <strong>{{thing.user.name}}</strong>
                </div>
                <div class="col-lg-12">
                  {{time(thing.created)}}
                </div>
              </div>

            </div>
            <div class="col-lg-2">
              <span ng-show="getCurrentUser()._id  == thing.user._id" class="glyphicon glyphicon-remove close remove-edit" ng-click="deleteThing(thing)"></span>
              <span ng-show="getCurrentUser()._id  == thing.user._id" class="glyphicon glyphicon-pencil close remove-edit" ng-click="editThing(thing)"></span>
            </div>
          </div>
          <p class="thing-body"><span ng-if="!thing.editable">
                    {{thing.name}}
                  </span>
          <div ng-if="thing.editable" ng-show="getCurrentUser()._id  == thing.user._id" >
            <form class="form-horizontal center-block"  ng-submit="update(thing)">

              <textarea name="comment" cols="30" rows="1" ng-model="thing.name" class="form-control" required></textarea>

              <input type="submit" class="btn btn-default" value="Done Editing"/>


            </form>
          </div>
          </p>




          <div class="comment-div" ng-include="'components/comment/comment.html'" ng-controller="CommentCtrl" data-ng-init="findComments(thing, 2)"></div>
        </div></li>
      </ul>
    </div>
    <div class="col-lg-3">


    </div>
  </div>
</div>
<!-- Modal -->
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Send Message</h3>
  </div>
  <div class="modal-body">
    <textarea name="body" cols="30" rows="5" ng-model="thing.body" class="form-control" required></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(thing)">Send</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<div ng-include="'components/footer/footer.html'"></div>